<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.FlowerLanguageDOMapper">
    <resultMap id="BaseResultMap" type="com.example.mall.domain.FlowerLanguageDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="re_time" jdbcType="TIMESTAMP" property="reTime"/>
        <result column="title1" jdbcType="VARCHAR" property="title1"/>
        <result column="title2" jdbcType="VARCHAR" property="title2"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="getFlowerLanguageList" parameterType="com.example.mall.domain.form.FlowerLanguageForm"
            resultMap="BaseResultMap">
        SELECT
        fl.*
        FROM
        flower_language fl
        <trim prefix="where" prefixOverrides="and|or">

            <if test="reTime != null and reTime != ''">
                and date(fl.re_time) = #{reTime}
            </if>
        </trim>
        ORDER BY fl.re_time desc
    </select>

    <select id="getFlowerLanguageByReTime" parameterType="string" resultType="int">
        SELECT count(*)
        FROM flower_language fl
        where date (fl.re_time) = #{reTime}
    </select>
</mapper>