<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.FlowerKnowledgeDOMapper">
    <resultMap id="BaseResultMap" type="com.example.mall.domain.FlowerKnowledgeDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <select id="getFlowerLanguageList" parameterType="com.example.mall.domain.form.FlowerKnowledgeForm" resultMap="BaseResultMap">
        SELECT
        fk.*
        FROM
        flower_knowledge fk
        <trim prefix="where" prefixOverrides="and|or">
            <if test="title != null and title !=''">
                and fk.title like "%"#{title}"%"
            </if>
        </trim>
        ORDER BY fk.create_time desc
    </select>
</mapper>