<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.ProductTypeDOMapper">
    <resultMap id="BaseResultMap" type="com.example.mall.domain.ProductTypeDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="getProductType" parameterType="com.example.mall.domain.form.ProductTypeForm" resultMap="BaseResultMap">
        select *
        from product_type
        <trim prefix="where" prefixOverrides="and|or">
            <if test="name != null and name !=''">
                and name like "%"#{name}"%"
            </if>
        </trim>
        order by sort asc
    </select>
</mapper>